@import '../../common.scss';

.header {
  width: 15rem;
  background-color: #616379;
  padding: 1rem;
  box-sizing: border-box;

  li {
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;

    &::before {
      content: '\2022';
      color: #333;
      font-weight: bold;
      display: inline-block;
      width: 1rem;
      margin-left: -1rem;
    }

    > a {
      color: white;
    }
  }
}
