$breakpoint-mobile: 740px; // mobile
$breakpoint-tablet: 1280px; // tablet

@mixin container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

@mixin limiter {
  width: 100%;
  max-width: $breakpoint-tablet;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin backgroundCenter {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@mixin absoluteCenter {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

// responsive size
@mixin mobile {
  @media screen and (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $breakpoint-tablet) {
    @content;
  }
}
